
                /* PC Interface */



            /* HEADER */

        /* HEADER */


            /* BODY */

            .container {
                display: flex;
                justify-content: space-between;
                gap: 50px;
                padding: 2px;
                
                width: 1500px;
              }
          h3 {
            padding: 5px;
          }
              .card {
                background-color: #111111;
                border: 3px solid #ff6600; /* Помаранчева рамка */
                border-radius: 15px;

                max-width: 500px;
                max-height: 1000px;
                width: 450px;
                height: 950px;

                text-align: center;
                padding: 5px;
                margin-top: 125px;
                margin-bottom: 125px;

                box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
                color: white;
                position: relative;
              }
        
        .vacancy-info {
          font-size: 15px;
          font-family: "Montserrat";

          padding: 10px;
          text-align: left;
        }

              .card-header {
                background: linear-gradient(to bottom, #ffffff, #99ccff);
               
                border-radius: 10px;
                padding: 10px;

                color: #fff;
                font-weight: bold;
                text-shadow: #111111b4 0px 0 10px;
                font-size: 22px;
              }
              
              .card-item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: #444444;
                color: white;
                padding: 10px 15px;
                border-radius: 10px;
                margin: 5px 0;
                font-size: 16px;
              }
              
              .card-item .circle {
                display: inline-block;
                background-color: #ff6600;
                color: white;
                font-size: 20px;

                width: 24px;
                height: 24px;

                text-align: center;
                line-height: 24px;
                border-radius: 50%;
              }
              
              .card-footer {
                display: flex;
                flex-direction: column;
                gap: 5px;
                margin-top: 15px;
              }

              .role {
                font-size: 18px;
                font-weight: 500;
                font-family: "Montserrat";
              }
              
              .member {
                display: flex;
                align-items: center;
                gap: 10px;
                background-color: #551a8b;
                color: white;
                padding: 5px 10px;
                border-radius: 10px;
              }
              
              .member img {
                width: 24px;
                height: 24px;

                border-radius: 50%;
                

                background-color: white; /* Іконка */
              }
              
                .view-button {
                  background-color: #111111;
                  border: 3px solid #ff6600;
                  color: #fff;

                  font-weight: bold;
                  font-size: 20px;
                  border-radius: 10px;
                  margin-top: 10px;
                      height: 75px;
                      width: 349px;

                  position: absolute;
                bottom: 5px;
                  transform: translateX(-50%);

                  cursor: pointer;
                  text-transform: uppercase;
                  transition: all 0.3s ease;
                }
              
              .view-button:hover {
                background-color: #ff6600;
                color: #111111;
              }
            
            .open-vacancy-button {
              background-color: #111111;
                  border: 3px solid #ff6600;
                  color: #fff;

                  font-weight: bold;
                  font-size: 20px;
                  border-radius: 20px;
                  margin-top: 10px;
                      height: 75px;
                      width: 350px;

                  position: absolute;
                bottom: 10px;
                  transform: translateX(-50%);

                  cursor: pointer;
                  text-transform: uppercase;
                  transition: all 0.3s ease;
            } 
            
              .pagination {
                position: absolute;
                bottom: 20px;
                left: 50%;
                transform: translateX(-50%);
                display: flex;
                gap: 10px;
              }
              
              .pagination .dot {
                width: 10px;
                height: 10px;
                background-color: #ff6600;
                border-radius: 50%;
                cursor: pointer;
                transition: transform 0.3s ease;
              }
              
              .pagination .dot:hover {
                transform: scale(1.3);
              }
              

        /* BODY */


            /* FOOTER */

        /* FOOTER */



    /* PC Interface */









                    /* MOBILE Interface */



                /* HEADER */

            /* HEADER */


                /* BODY */

            /* BODY */


                /* FOOTER */

            /* FOOTER */



        /* MOBILE Interface */