
                /* PC Interface */



            /* HEADER */
            
            header {
                display: flex;
                align-items: center;
                justify-content: space-between;
            
                top: 0;
                left: 0;
                z-index: 1000;
                width: 100%;
                height: 60px;
            
                background-color: #2f3030;
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
                transition: transform 0.3s ease-in-out;
            }
            header.hidden {
                transform: translateY(-100%);
            }
              
            .container {
              max-width: 1200px;
              margin: 0 auto;
              padding: 15px;
              display: flex;
            }
            
            .h1 {
                font-size: 3rem;
                color: white;
                font-family: "Montserrat";
            }
            
            a img {
                transition: transform 0.3s ease;
            }
            
            a img:hover {
                transform: scale(1.1); /* Збільшує зображення при наведенні */
            }
            
            .nav-points {
                display: inline;
            }
            
            .nav-text-bef, .nav-text-mid, .nav-text-aft {
                display: inline;
                margin-left: 15px;
                margin-right: 15px;
            
                font-size: 20px;
                font-weight: 499;
                font-family: "Rethink Sans";
            
                border-bottom: 2px solid transparent;
                transition: border-bottom 0.3s ease;
            }
            
            .nav-text-aft:hover, .nav-text-mid:hover, .nav-text-bef:hover {
                border-bottom: 2px solid rgba(65, 107, 82, 1); /* Колір підкреслення при наведенні */
            }
            
            nav {
                background-color: transparent; /* Фон навігації залишається прозорим */
                
                margin-left: 30px;
                margin-right: 30px;
            }
            
            nav ul {
                list-style: none;
                display: flex;
                padding: 0;
                margin: 0;
                width: 100%; /* Задаємо ширину 100% для навігації */
                justify-content: space-between; /* Вирівнюємо елементи */
            }
            
            nav ul li {
                margin: 0; /* Прибрано зовнішні відступи */
            }
            
            nav ul li a {
                text-decoration: none;
                color: rgb(221, 230, 221);
                font-size: 1.2rem;
                font-weight: bold;
                text-transform: uppercase;
                
                padding: 20px 15px; /* Внутрішні відступи для всього меню */
                background-color: rgba(90, 99, 94, 0.5); /* Напівпрозорий зелений фон */
                transition: background-color 0.3s, color 0.3s; /* Плавний перехід */
            
                display: flex;
                align-items: center;
                height: 60px; /* Висота посилань для вирівнювання */
            }
            
            nav ul li a:hover {
                background-color: rgb(50, 85, 63); /* Непрозорий зелений фон */
                color: rgb(33, 34, 34); /* Текст змінюється на чорний при наведенні */
            }
            
            .social-icons {
                display: inherit;
                margin-left: 75px;
                margin-right: 10px;
                padding-top: 3.75px;
            
                gap: 25px;
            }
            
            .header-content {
                font-family: "Kanit";
            
                display: flex;
                justify-content: space-between;
                align-items: center;
            
                padding-bottom: 15px;
            }
            
            .logo {
                font-size: 30px;
                font-family: "Kanit";
                font-weight: 400;
            
                padding-top: 8.5px;
                margin-left: 25px;
            
                text-decoration: none;
                color: #e9f0eb;  /* Колір самого тексту */
                text-shadow: 
                    0 0 5px rgba(255, 255, 255, 0.5),    /* Легке світіння */
                    0 0 10px rgba(255, 255, 255, 0.5),   /* Більше світіння */
                    0 0 15px rgba(255, 255, 255, 0.5),   /* Ще більше світіння */
                    0 0 20px rgba(255, 255, 255, 0.5);   /* Найсильніше світіння */
                animation: glow 1.5s ease-in-out infinite; /* Анімація для пульсуючого ефекту */
            }
            
            @keyframes glow {
                0% { text-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5), 0 0 15px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.5); }
                50% { text-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 0.8), 0 0 30px rgba(255, 255, 255, 0.7), 0 0 40px rgba(255, 255, 255, 0.6); }
                100% { text-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5), 0 0 15px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.5); }
            }
            
            .black-line {
                background-color: transparent;
            }
            
            .burger-menu {
                display: none;
                margin-right: 20px;
                margin-top: 15px;
            
                cursor: pointer;
                flex-direction: column;
                gap: 5px;
            }
            
            .burger-menu span {
                display: block;
                width: 25px;
                height: 3px;
                background-color: #dae7e2;
                transition: all 0.3s ease;
            }
            
        /* HEADER */


            /* BODY */

        /* BODY */


            /* FOOTER */

        /* FOOTER */



    /* PC Interface */









                    /* MOBILE Interface */



                /* HEADER */

            /* HEADER */


                /* BODY */

            /* BODY */


                /* FOOTER */

            /* FOOTER */



        /* MOBILE Interface */